body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-image{
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80");
    background-position: center;
    background-attachment: fixed;
    background-size: 160%;
}

.container{
    padding: 100px;
}

h1{
    font-size: 50px;
}

p{
    color: darkslategray;
}

@media (max-width:500px) {
    .container {
        padding: 10px;
    }
}